body {
    background-color: #e6d6c1;
    font-size: 18px;
}

.page {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
} 

.gameContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#diceK6 {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.players {
    display: flex;
    flex-flow: row nowrap;
}


.playerSection {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 240px;
    height: 360px;
    background-image: linear-gradient(to right bottom, #cdeec9, #083613);
    border-radius: 30px;
    opacity: 50%;
}

.playerSection div:last-of-type {
    margin-bottom: 60px;
}

.playerSection p{
    font-weight: bold;
}

.playerSection div:first-child p:first-of-type{
    font-size: 24px;
}

.activePlayer {
    opacity: 100%;
}

.button {
    padding: 5px;
    margin-top: 10px;
    width: 120px;
    border-radius: 10px;
    color: #ffffff;
    background-color:  #36740e;
}

.newGameButton {
    width: 150px;
    height: 50px;
}
